#ifndef SECRETS_H
#define SECRETS_H

// Configurações de Wi-Fi
#define SECRET_WIFI_SSID     "NOME_DA_REDE"
#define SECRET_WIFI_PASSWORD "SENHA_DA_REDE"

// Token do Home Assistant
#define SECRET_HA_TOKEN      "Bearer INSIRA_SEU_TOKEN_AQUI"

#endif
